:root {
  --color-text: #fff;
  --color-bg: #37383a;
  --color-light-blue: #88ebefe5;
  --color-blue: #535be6e5;
  --color-card-bg: #272e37;
  --color-card-bg-hover: #3a434f;
  --gradient: linear-gradient(
    to right,
    var(--color-light-blue),
    var(--color-blue)
  );
  --gradient-inverted: linear-gradient(
    to left,
    var(--color-light-blue),
    var(--color-blue)
  );

  --font: "Montserrat", sans-serif;
  font: 20px/150% var(--sans);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

body {
  padding: 0;
  margin: 0;
  background: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font);
}
